/* 
The theme color palette is referenced from the following URL
 https://explorer.rated.network/?network=mainnet&view=pool&timeWindow=1d&page=1&pageSize=15&poolType=all 
 */
:root {
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 60px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;
  --great: var(--green-11);
  --good: var(--lime-9);
  --moderate: var(--orange-11);
  --low: var(--tomato-9);
  --bg-0: var(--blue-2);
  --bg-1: var(--blue-3);
  --bg-2: var(--blue-4);
  --stroke-base: var(--grey-a-4);
  --brand-blue: #0040ff;
  --brand-orange: #ff4e00;
  --brand-turquoise: #009ee2;
  --black-1: #00000003;
  --black-2: #00000007;
  --black-3: #0000000c;
  --black-4: #00000012;
  --black-5: #00000017;
  --black-6: #0000001d;
  --black-7: #00000024;
  --black-8: #00000038;
  --black-9: #00000070;
  --black-10: #0000007a;
  --black-11: #00000090;
  --black-12: #000000e8;
  --white-1: #fff;
  --white-2: #ffffff03;
  --white-3: #ffffff09;
  --white-4: #ffffff0e;
  --white-5: #ffffff16;
  --white-6: #ffffff20;
  --white-7: #ffffff2d;
  --white-8: #ffffff3f;
  --white-9: #ffffff62;
  --white-10: #ffffff72;
  --white-11: #ffffff97;
  --white-12: #ffffffeb;
  --text-xs: 10px;
  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 16px;
  --text-xl: 18px;
  --marketing-xs: 12px;
  --marketing-sm: 12px;
  --marketing-md: 14px;
  --marketing-lg: 16px;
  --marketing-xl: 18px;
  --headings-xs: 18px;
  --headings-sm: 24px;
  --headings-md: 30px;
  --headings-lg: 42px;
  --headings-xl: 62px;
  font-feature-settings: lining-nums tabular-nums;
  font-variant-numeric: lining-nums tabular-nums;
  --prysm: #ff6384;
  --lighthouse: #36a2eb;
  --teku: #ffcd56;
  --nimbus: #4bc0c0;
  --loadstar: #6e7386;
  --geth: #ffe20a;
  --nethermind: #0095ff;
  --erigon: #80ffe3;
  --besu: #b7ff32;
  --flashbots: #ffe455;
  --bloxroute: #26a1fb;
  --bloxroute_regulated: #26a1fb;
  --bloxroute_maxprofit: #0076cb;
  --bloxroute_ethical: #005c9e;
  --blocknative: #6affe4;
  --edennetwork: #6ff56f;
  --manifold: #ff627e;
  --relayooor: #ffbf9b;
  --other: #c5c5c5;
  --agnostic: #9382ff;
  --ultra_sound_money: #23e19d;
  --aestus: #d1e6d6;
  --unknown: #666e70;
  --no_mev_boost: #b2b2b2;
  --frontier: #ffacf7;
  --wenmerge: #90e9fd;
  --tanelabs: #28724e;
  --titan: #e367db;
  --solana_labs: #ff4abd;
  --jito-solana: #4571ff;
  --firedancer: #04d5ff;
  --white8: hsla(0, 0%, 100%, 0.25);
  --white11: hsla(0, 0%, 100%, 0.59);
  --black9: rgba(0, 0, 0, 0.44);
  --black11: rgba(0, 0, 0, 0.56);
  --brown1: #fefdfc;
  --brown6: #e8cdb5;
  --brown2: #fcf9f6;
  --amber9: #ffb224;
  --amber10: #ffa01c;
  --amber12: #4e2009;
  --mint1: #f9fefd;
  --mint2: #effefa;
  --mint4_alpha: rgba(1, 210, 154, 0.18);
  --mint3_alpha: rgba(1, 221, 162, 0.12);
  --mint4: #d2f7ed;
  --mint6: #a5e4d4;
  --mint11: #147d6f;
  --mint12: #09342e;
  --grey2: #edeef0;
  --grey3: #27282d;
  --amber9: #ffc53d;
  --amber12: #4f3422;
  --blue2: #f5faff;
  --blue3: #edf6ff;
  --blue4: #e1f0ff;
  --blue9: #0091ff;
  --blue11: #0b68cb;
  --blueA6: #0177e648;
  --blueA9: #0091ff;
  --grey10: #7e808a;
  --grey11: #60646c;
  --grey12: #1c2024;
  --greyA3: #00003b0d;
  --greyA6: #01012e22;
}

:root,
html[data-theme="dark"] {
  color-scheme: dark;
  --bg-primary: #243361;
  --bg-secondary: #192548;
  --text-primary: #ffffff;
  --text-secondary: #dee1ed;
  --amber-1: #1f1300;
  --amber-2: #251804;
  --amber-3: #30200b;
  --amber-4: #39270f;
  --amber-5: #432e12;
  --amber-6: #533916;
  --amber-7: #6f4d1d;
  --amber-8: #a9762a;
  --amber-9: #ffc53d;
  --amber-10: #ffcb47;
  --amber-11: #ffcc4d;
  --amber-12: #ffe7b3;
  --amber-a-1: #fa000008;
  --amber-a-2: #fc19000f;
  --amber-a-3: #ff66001b;
  --amber-a-4: #ff800024;
  --amber-a-5: #fe8c0030;
  --amber-a-6: #ff971041;
  --amber-a-7: #ffa42560;
  --amber-a-8: #ffae35a0;
  --amber-a-9: #ffc53d;
  --amber-a-10: #ffcb47;
  --amber-a-11: #ffcd4d;
  --amber-a-12: #ffe7b3;
  --blue-1: #0f1720;
  --blue-2: #0f1b2d;
  --blue-3: #11253f;
  --blue-4: #122b4c;
  --blue-5: #12325a;
  --blue-6: #123d6f;
  --blue-7: #0f5096;
  --blue-8: #1276e2;
  --blue-9: #0091ff;
  --blue-10: #3cabff;
  --blue-11: #6bc1ff;
  --blue-12: #c2e6ff;
  --blue-a-1: #0000fc09;
  --blue-a-2: #0037ff17;
  --blue-a-3: #0066ff2b;
  --blue-a-4: #006efe3a;
  --blue-a-5: #0374ff49;
  --blue-a-6: #087bff60;
  --blue-a-7: #077fff8b;
  --blue-a-8: #1184ffdf;
  --blue-a-9: #0091ff;
  --blue-a-10: #3cabff;
  --blue-a-11: #6bc1ff;
  --blue-a-12: #c2e4ff;
  --brand-contrast: #fff;
  --grey-1: #18181a;
  --grey-2: #1b1b1f;
  --grey-3: #27282d;
  --grey-4: #2e3035;
  --grey-5: #35373c;
  --grey-6: #3c3f44;
  --grey-7: #464b50;
  --grey-8: #5a6165;
  --grey-9: #696e77;
  --grey-10: #7d828a;
  --grey-11: #adb1b8;
  --grey-12: #edeef0;
  --grey-a-1: #1818f602;
  --grey-a-2: #7979fa08;
  --grey-a-3: #bdc8ff17;
  --grey-a-4: #c7d6fe20;
  --grey-a-5: #d2dfff28;
  --grey-a-6: #d4e4fe31;
  --grey-a-7: #d5eafe3e;
  --grey-a-8: #def3ff55;
  --grey-a-9: #dde9ff69;
  --grey-a-10: #e4eeff7e;
  --grey-a-11: #eff5ffb1;
  --grey-a-12: #fcfdffef;
  --indigo-1: #131620;
  --indigo-2: #15192d;
  --indigo-3: #1a2242;
  --indigo-4: #1e284f;
  --indigo-5: #202d5c;
  --indigo-6: #24366e;
  --indigo-7: #2c438f;
  --indigo-8: #3b5dce;
  --indigo-9: #3e63dd;
  --indigo-10: #5c73e7;
  --indigo-11: #99a2ff;
  --indigo-12: #dddffe;
  --indigo-a-1: #0000fc09;
  --indigo-a-2: #0022ff17;
  --indigo-a-3: #234fff2e;
  --indigo-a-4: #315afe3d;
  --indigo-a-5: #335ffe4b;
  --indigo-a-6: #386aff5f;
  --indigo-a-7: #3f6bff84;
  --indigo-a-8: #4470ffc9;
  --indigo-a-9: #4470ffda;
  --indigo-a-10: #647effe5;
  --indigo-a-11: #99a2ff;
  --indigo-a-12: #dee0ff;
  --iris-1: #151521;
  --iris-2: #19182d;
  --iris-3: #222040;
  --iris-4: #27264d;
  --iris-5: #2d2c59;
  --iris-6: #33336b;
  --iris-7: #404089;
  --iris-8: #5858c0;
  --iris-9: #5b5bd6;
  --iris-10: #6f6de2;
  --iris-11: #a19eff;
  --iris-12: #e0dffe;
  --iris-a-1: #0000ff0a;
  --iris-a-2: #2418ff17;
  --iris-a-3: #5246fe2c;
  --iris-a-4: #5a55fe3b;
  --iris-a-5: #615fff48;
  --iris-a-6: #6363ff5c;
  --iris-a-7: #6969ff7d;
  --iris-a-8: #7070ffba;
  --iris-a-9: #6969ffd2;
  --iris-a-10: #7b79ffdf;
  --iris-a-11: #a19eff;
  --iris-a-12: #e1e0ff;
  --neutral-1: #00000003;
  --neutral-2: #00000007;
  --neutral-3: #0000000c;
  --neutral-4: #00000012;
  --neutral-5: #00000017;
  --neutral-6: #0000001d;
  --neutral-7: #00000024;
  --neutral-8: #00000038;
  --neutral-9: #00000070;
  --neutral-10: #0000007a;
  --neutral-11: #00000090;
  --neutral-12: #000000e8;
  --orange-1: #1f1206;
  --orange-2: #271504;
  --orange-3: #341c0a;
  --orange-4: #3f220d;
  --orange-5: #4b2910;
  --orange-6: #5d3213;
  --orange-7: #7e4318;
  --orange-8: #c36522;
  --orange-9: #f76808;
  --orange-10: #ff802b;
  --orange-11: #ffa366;
  --orange-12: #ffe0c2;
  --orange-a-1: #fa000008;
  --orange-a-2: #f001;
  --orange-a-3: #fd37001f;
  --orange-a-4: #ff55002b;
  --orange-a-5: #ff660038;
  --orange-a-6: #ff6e074c;
  --orange-a-7: #ff781871;
  --orange-a-8: #ff8025bd;
  --orange-a-9: #ff6a07f6;
  --orange-a-10: #ff802b;
  --orange-a-11: #ffa366;
  --orange-a-12: #ffe0c2;
  --plum-1: #181118;
  --plum-2: #201320;
  --plum-3: #351a35;
  --plum-4: #451d47;
  --plum-5: #512454;
  --plum-6: #5e3061;
  --plum-7: #734079;
  --plum-8: #92549c;
  --plum-9: #ab4aba;
  --plum-10: #b658c4;
  --plum-11: #e796f3;
  --plum-12: #f4d4f4;
  --plum-a-1: #f112f108;
  --plum-a-2: #f22ff211;
  --plum-a-3: #fd4cfd27;
  --plum-a-4: #f646ff3a;
  --plum-a-5: #f455ff48;
  --plum-a-6: #f66dff56;
  --plum-a-7: #f07cfd70;
  --plum-a-8: #ee84ff95;
  --plum-a-9: #e961feb6;
  --plum-a-10: #ed70ffc0;
  --plum-a-11: #f19cfef3;
  --plum-a-12: #feddfef4;
  --teal-1: #091a16;
  --teal-2: #091f1a;
  --teal-3: #0d2923;
  --teal-4: #0f312b;
  --teal-5: #123a32;
  --teal-6: #16463d;
  --teal-7: #1b5e54;
  --teal-8: #238b7f;
  --teal-9: #12a594;
  --teal-10: #0abba4;
  --teal-11: #0bd8b6;
  --teal-12: #adf0dd;
  --teal-a-1: #00f60002;
  --teal-a-2: #00fa5708;
  --teal-a-3: #00feae13;
  --teal-a-4: #00fdc71c;
  --teal-a-5: #00fec726;
  --teal-a-6: #0efed233;
  --teal-a-7: #22fedd4e;
  --teal-a-8: #2effe77f;
  --teal-a-9: #0effe39c;
  --teal-a-10: #04ffddb4;
  --teal-a-11: #08ffd6d4;
  --teal-a-12: #b7ffebef;
  --tomato-1: #1d1412;
  --tomato-2: #291612;
  --tomato-3: #3b1a14;
  --tomato-4: #471d16;
  --tomato-5: #532017;
  --tomato-6: #652318;
  --tomato-7: #862919;
  --tomato-8: #ca3416;
  --tomato-9: #e54d2e;
  --tomato-10: #f46e53;
  --tomato-11: #ff8870;
  --tomato-12: #fbd3cb;
  --tomato-a-1: #fb000006;
  --tomato-a-2: #fe000013;
  --tomato-a-3: #fe260027;
  --tomato-a-4: #fe320e34;
  --tomato-a-5: #fe371441;
  --tomato-a-6: #ff3b1855;
  --tomato-a-7: #ff3c1a7a;
  --tomato-a-8: #ff3c16c5;
  --tomato-a-9: #ff5331e2;
  --tomato-a-10: #ff7256f3;
  --tomato-a-11: #ff8870;
  --tomato-a-12: #ffd6cefb;
  --green-1: #0e1512;
  --green-2: #121b17;
  --green-3: #132d21;
  --green-4: #113b29;
  --green-5: #174933;
  --green-6: #20573e;
  --green-7: #28684a;
  --green-8: #2f7c57;
  --green-9: #30a46c;
  --green-10: #33b074;
  --green-11: #3dd68c;
  --green-12: #b1f1cb;
  --green-a-1: #00de4505;
  --green-a-2: #29f99d0b;
  --green-a-3: #22ff991e;
  --green-a-4: #11ff992d;
  --green-a-5: #2bffa23c;
  --green-a-6: #44ffaa4b;
  --green-a-7: #50fdac5e;
  --green-a-8: #54ffad73;
  --green-a-9: #44ffa49e;
  --green-a-10: #43fea4ab;
  --green-a-11: #46fea5d4;
  --green-a-12: #bbffd7f0;
  --lime-1: #11130c;
  --lime-2: #151a10;
  --lime-3: #1f2917;
  --lime-4: #29371d;
  --lime-5: #334423;
  --lime-6: #3d522a;
  --lime-7: #496231;
  --lime-8: #577538;
  --lime-9: #bdee63;
  --lime-10: #d4ff70;
  --lime-11: #bde56c;
  --lime-12: #e3f7ba;
  --lime-a-1: #11bb0003;
  --lime-a-2: #78f7000a;
  --lime-a-3: #9bfd4c1a;
  --lime-a-4: #a7fe5c29;
  --lime-a-5: #affe6537;
  --lime-a-6: #b2fe6d46;
  --lime-a-7: #b6ff6f57;
  --lime-a-8: #b6fd6d6c;
  --lime-a-9: #caff69ed;
  --lime-a-10: #d4ff70;
  --lime-a-11: #d1fe77e4;
  --lime-a-12: #e9febff7;
  --overlay: var(--black-9);
  --shadow-1: 0px 4px 8px 1px var(--black-5), 0px 1px 4px 2px var(--black-7);
}

html[data-theme="light"] {
  color-scheme: light;
  --bg-primary: #ffffff;
  --bg-secondary: #f3f5fb;
  --text-primary: #000000;
  --text-secondary: #4e545f;
  --amber-1: #fefdfb;
  --amber-2: #fff9ed;
  --amber-3: #fff3d0;
  --amber-4: #ffecb7;
  --amber-5: #ffe0a1;
  --amber-6: #f5d08c;
  --amber-7: #e4bb78;
  --amber-8: #d6a35c;
  --amber-9: #ffc53d;
  --amber-10: #ffba1a;
  --amber-11: #915930;
  --amber-12: #4f3422;
  --amber-a-1: #c0820504;
  --amber-a-2: #ffab0212;
  --amber-a-3: #ffc0012f;
  --amber-a-4: #ffbb0148;
  --amber-a-5: #ffaa015e;
  --amber-a-6: #e9970073;
  --amber-a-7: #cc7e0087;
  --amber-a-8: #bf7000a3;
  --amber-a-9: #ffb300c2;
  --amber-a-10: #ffb301e5;
  --amber-a-11: #783200cf;
  --amber-a-12: #341500dd;
  --blue-1: #fbfdff;
  --blue-2: #f5faff;
  --blue-3: #edf6ff;
  --blue-4: #e1f0ff;
  --blue-5: #cee7fe;
  --blue-6: #b7d9f8;
  --blue-7: #96c7f2;
  --blue-8: #5eb0ef;
  --blue-9: #0091ff;
  --blue-10: #0880ea;
  --blue-11: #0b68cb;
  --blue-12: #113264;
  --blue-a-1: #0582ff04;
  --blue-a-2: #0582ff0a;
  --blue-a-3: #0280ff12;
  --blue-a-4: #0180ff1e;
  --blue-a-5: #0182fa31;
  --blue-a-6: #0177e648;
  --blue-a-7: #0077df69;
  --blue-a-8: #0082e6a1;
  --blue-a-9: #0091ff;
  --blue-a-10: #007de9f7;
  --blue-a-11: #0061c9f4;
  --blue-a-12: #002459ee;
  --brand-contrast: #000;
  --grey-1: #fcfcfd;
  --grey-2: #f9f9fb;
  --grey-3: #f2f2f5;
  --grey-4: #ebebef;
  --grey-5: #e4e4e9;
  --grey-6: #dddde3;
  --grey-7: #d3d4db;
  --grey-8: #b9bbc6;
  --grey-9: #8b8d98;
  --grey-10: #7e808a;
  --grey-11: #60646c;
  --grey-12: #1c2024;
  --grey-a-1: #05055803;
  --grey-a-2: #05055806;
  --grey-a-3: #00003b0d;
  --grey-a-4: #02023414;
  --grey-a-5: #0000301b;
  --grey-a-6: #01012e22;
  --grey-a-7: #01062f2c;
  --grey-a-8: #00082f46;
  --grey-a-9: #00041d74;
  --grey-a-10: #00041881;
  --grey-a-11: #0007139f;
  --grey-a-12: #000509e3;
  --indigo-1: #fdfdfe;
  --indigo-2: #f8faff;
  --indigo-3: #f0f4ff;
  --indigo-4: #e6edfe;
  --indigo-5: #d9e2fc;
  --indigo-6: #c6d4f9;
  --indigo-7: #aec0f5;
  --indigo-8: #8da4ef;
  --indigo-9: #3e63dd;
  --indigo-10: #3a5ccc;
  --indigo-11: #3451b2;
  --indigo-12: #1f2d5c;
  --indigo-a-1: #05058202;
  --indigo-a-2: #054cff07;
  --indigo-a-3: #0144ff0f;
  --indigo-a-4: #0247f519;
  --indigo-a-5: #023ceb26;
  --indigo-a-6: #013de439;
  --indigo-a-7: #0038e051;
  --indigo-a-8: #0134db72;
  --indigo-a-9: #0031d2c1;
  --indigo-a-10: #002cbdc5;
  --indigo-a-11: #00259ecb;
  --indigo-a-12: #001046e0;
  --iris-1: #fdfdff;
  --iris-2: #fafaff;
  --iris-3: #f3f3ff;
  --iris-4: #ebebfe;
  --iris-5: #e0e0fd;
  --iris-6: #d0d0fa;
  --iris-7: #babbf5;
  --iris-8: #9b9ef0;
  --iris-9: #5b5bd6;
  --iris-10: #5353ce;
  --iris-11: #4747c2;
  --iris-12: #272962;
  --iris-a-1: #0505ff02;
  --iris-a-2: #0505ff05;
  --iris-a-3: #0505ff0c;
  --iris-a-4: #0202f214;
  --iris-a-5: #0101ef1f;
  --iris-a-6: #0101e42f;
  --iris-a-7: #0004da45;
  --iris-a-8: #0108d964;
  --iris-a-9: #0000bfa4;
  --iris-a-10: #0000b6ac;
  --iris-a-11: #0000abb8;
  --iris-a-12: #000346d8;
  --neutral-1: #fff;
  --neutral-2: #ffffff03;
  --neutral-3: #ffffff09;
  --neutral-4: #ffffff0e;
  --neutral-5: #ffffff16;
  --neutral-6: #ffffff20;
  --neutral-7: #ffffff2d;
  --neutral-8: #ffffff3f;
  --neutral-9: #ffffff62;
  --neutral-10: #ffffff72;
  --neutral-11: #ffffff97;
  --neutral-12: #ffffffeb;
  --orange-1: #fefcfb;
  --orange-2: #fff8f4;
  --orange-3: #ffedd5;
  --orange-4: #ffe0bb;
  --orange-5: #ffd3a4;
  --orange-6: #ffc291;
  --orange-7: #ffaa7d;
  --orange-8: #ed8a5c;
  --orange-9: #f76808;
  --orange-10: #ed5f00;
  --orange-11: #99543a;
  --orange-12: #582d1d;
  --orange-a-1: #c0430504;
  --orange-a-2: #ff61050b;
  --orange-a-3: #ff91012a;
  --orange-a-4: #ff8c0144;
  --orange-a-5: #ff84005b;
  --orange-a-6: #ff73016e;
  --orange-a-7: #ff590082;
  --orange-a-8: #e34800a3;
  --orange-a-9: #f76300f7;
  --orange-a-10: #ed5f00;
  --orange-a-11: #7b2100c5;
  --orange-a-12: #431200e2;
  --plum-1: #fefcff;
  --plum-2: #fdf7fd;
  --plum-3: #fbebfb;
  --plum-4: #f7def8;
  --plum-5: #f2d1f3;
  --plum-6: #e9c2ec;
  --plum-7: #deade3;
  --plum-8: #cf91d8;
  --plum-9: #ab4aba;
  --plum-10: #a144af;
  --plum-11: #953ea3;
  --plum-12: #53195d;
  --plum-a-1: #aa00ff03;
  --plum-a-2: #c000c008;
  --plum-a-3: #cc00cc14;
  --plum-a-4: #c200c921;
  --plum-a-5: #b700bd2e;
  --plum-a-6: #a400b03d;
  --plum-a-7: #9900a852;
  --plum-a-8: #9000a56e;
  --plum-a-9: #89009eb5;
  --plum-a-10: #7f0092bb;
  --plum-a-11: #730086c1;
  --plum-a-12: #40004be5;
  --teal-1: #fafefd;
  --teal-2: #f1fcfa;
  --teal-3: #e7f9f5;
  --teal-4: #d9f3ee;
  --teal-5: #c7ebe5;
  --teal-6: #afdfd7;
  --teal-7: #8dcec3;
  --teal-8: #53b9ab;
  --teal-9: #12a594;
  --teal-10: #0e9888;
  --teal-11: #067a6f;
  --teal-12: #0d3d38;
  --teal-a-1: #05cd9b05;
  --teal-a-2: #01c8a40e;
  --teal-a-3: #02c09718;
  --teal-a-4: #02af8c26;
  --teal-a-5: #00a48938;
  --teal-a-6: #00998050;
  --teal-a-7: #01927a72;
  --teal-a-8: #009783ac;
  --teal-a-9: #009e8ced;
  --teal-a-10: #009281f1;
  --teal-a-11: #00776bf9;
  --teal-a-12: #00332ef2;
  --tomato-1: #fffcfc;
  --tomato-2: #fff8f7;
  --tomato-3: #fff0ee;
  --tomato-4: #ffe6e2;
  --tomato-5: #fdd8d3;
  --tomato-6: #fac7be;
  --tomato-7: #f3b0a2;
  --tomato-8: #ea9280;
  --tomato-9: #e54d2e;
  --tomato-10: #d84224;
  --tomato-11: #c33113;
  --tomato-12: #5c271f;
  --tomato-a-1: #ff050503;
  --tomato-a-2: #ff260508;
  --tomato-a-3: #ff1f0111;
  --tomato-a-4: #ff22011d;
  --tomato-a-5: #f41d012c;
  --tomato-a-6: #ec230041;
  --tomato-a-7: #de25005d;
  --tomato-a-8: #d524017f;
  --tomato-a-9: #df2500d1;
  --tomato-a-10: #d22300db;
  --tomato-a-11: #be2000ec;
  --tomato-a-12: #460900e0;
  --green-1: #fbfefc;
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-10: #2b9a66;
  --green-11: #218358;
  --green-12: #193b2d;
  --green-a-1: #00c04004;
  --green-a-2: #00a32f0b;
  --green-a-3: #00a43319;
  --green-a-4: #00a83829;
  --green-a-5: #019c393b;
  --green-a-6: #00963c52;
  --green-a-7: #00914071;
  --green-a-8: #00924ba4;
  --green-a-9: #008f4acf;
  --green-a-10: #008647d4;
  --green-a-11: #00713fde;
  --green-a-12: #002616e5;
  --lime-1: #fcfdfa;
  --lime-2: #f8faf3;
  --lime-3: #eef6d6;
  --lime-4: #e2f0bd;
  --lime-5: #d3e7a6;
  --lime-6: #c2da91;
  --lime-7: #abc978;
  --lime-8: #8db654;
  --lime-9: #bdee63;
  --lime-10: #b0e64c;
  --lime-11: #5c7c2f;
  --lime-12: #37401c;
  --lime-a-1: #66990005;
  --lime-a-2: #6b95000c;
  --lime-a-3: #96c80029;
  --lime-a-4: #8fc60042;
  --lime-a-5: #81bb0059;
  --lime-a-6: #72aa006e;
  --lime-a-7: #61990087;
  --lime-a-8: #559200ab;
  --lime-a-9: #93e4009c;
  --lime-a-10: #8fdc00b2;
  --lime-a-11: #375f00d0;
  --lime-a-12: #1e2900e3;
  --overlay: var(--black-11);
  --shadow-1: 0px 4px 8px 0px var(--black-3), 0px 0px 4px 0px var(--black-1);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background: var(--bg-primary);
  font-family: var(--font-plus-jakarta-sans, Arial, Helvetica, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-space-grotesk);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
